<div class="container-fluid">
  <div class="row centered-row">
    <div class="text-container col-md-6">
      <div class="header">
        <h2>Automate your sales & list building!🔥</h2>
      </div>
      <div class="details">
        <p>
        Our custom bots & apps work 24/7 so you don't have to! Let's go!<span class="highlight"></span>
        </p>
        <div class="button-container">
          <button
            type="button"
            id="contact-button"
            class="btn btn-outline-primary mt-3"
            (click)="openDialog()"
          >
            Get started free
          </button>
        </div>
      </div>
    </div>
    <div class="image-container col-md-6">
      <img class="icon-image" src="/assets/robot.png" alt="Lead Robot Icon" />
    </div>
  </div>
</div>
