:host {
    font-family: "Roboto Mono", monospace;
  }
  h5 {
    font-family: "Roboto Mono", monospace;
    font-size: 1.2rem;
    font-weight: bold;
  }
  p {
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    font-size: 0.9rem;
  }
  .container-fluid {
    max-width: 1400px;
    padding-left: 0;
    padding-right: 0;
  }
  .card {
    padding: 20px;
  }
  .card-title,
  .card-text {
    margin-bottom: 25px;
  }
  .blog-row {
    display: flex;
    justify-content: center;
  }
  @media (max-width: 450px) {
    .container-fluid {
      padding: 10px;
      max-width: 100vw;
    }
    .col-lg-3.col-md-6.col-sm-12 {
      margin-bottom: 20px;
    }
    p {
      font-size: 0.75rem;
    }
    h5 {
      font-size: 1.2rem;
    }
  }